/* fitness.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('images/fitnessbackground.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  max-width: 400px;
  margin: auto;
  margin-top: 100px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form input, form select, form button {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

form button {
  background-color: #0a5fc7;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #030b52;
}
